# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  db:
    image: postgres:17-alpine3.21
    restart: always
    user: postgres
    env_file:
      - .env.db
    expose:
      - 5432
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  migrations:
    build: ${DB_INFRA_DIR}
    env_file:
      - ${DB_INFRA_DIR}/.env
    depends_on:
      db:
        condition: service_healthy
    command: ["npm", "run", "init"]

  realty-service:
    build:
      context: .
      target: dev
    env_file:
      - .env
    ports:
      - 3000:3000
      - 9229:9229
    command: ["npm", "run", "dev"]
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    develop:
      watch:
        - action: sync
          path: ./
          target: /usr/src/app
          ignore:
            - node_modules/
        - action: rebuild
          path: ./package.json

# Comment in if you have a UI.
  # web-ui:
  #   build:
  #     context: ${WEB_UI_DIR}
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - "5173:5173"
  #   develop:
  #     watch:
  #       - action: sync
  #         path: ${WEB_UI_DIR}
  #         target: /app
  #         ignore:
  #           - node_modules/
  #       - action: rebuild
  #         path: ./package.json
